body{
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.sidebar{
  background-color:white;
  min-height: 100vh;
  text-align: center;
  padding: 40px 0px 20px 0px;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
}

.sidebar img{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 2px solid lightgrey;
}

.sidebar nav{
  margin-top: 20px;
}

.sidebar nav a{
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1px;
  display: block;
  padding: 10px 10px 3px 10px;
  width: 100%;
  color: grey;
  font-size: 14px;
  font-weight: 400;
  border-top: 1px solid lightgrey;
}

.sidebar nav a:last-child{
  border-bottom: 1px solid lightgrey;
}

.sidebar ul{
  display: inline !important;
  margin: 0 auto;
  padding: 10px 0;
}

.sidebar ul li{
  list-style: none;
  display: inline !important;
}

.sidebar ul li a{
  color: grey;
  font-size: 12px;
  margin: 5px;
  display: inline;
}


h1{
  letter-spacing: 1px;
  font-size: 1.8em;
  margin-top: 20px;
  color: black;
  text-transform: uppercase;
}

h2{
  font-size: 1em;
  color: grey;
  font-weight: 300;
}

.projects{
  padding: 0px;
}

#one{
  height: 100vh;
  background: url("../images/crystal.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#two{
  height: 100vh;
  background: url("../images/flyvsdrive.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#three{
  height: 100vh;
  background: url("../images/word-grame.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#four{
  height: 100vh;
  background: url("../images/giphy.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#five{
  height: 100vh;
  background: url("../images/train.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar nav ul{
  padding: 0px !important;
  padding-bottom: 15px !important;
}

.sidebar nav ul:last-child{
  border-bottom: 1px solid lightgrey;
}

.code li a{
  font-size: .8em !important;
  border: none !important;
  padding: 0px !important;
}

@media only screen and (max-width: 640px) {
  .sidebar{
    min-height: 200px;
    position: relative;
  }

  #one{
    height: 400px;
  }
  #two{
    height: 400px;
  }
  #three{
    height: 400px;
  }
  #four{
    height: 400px;
  }
  #five{
    height: 400px;
  }
}
